[submodule "Functional-Programming-For-The-Rest-of-Us-Cn"]
	path = Functional-Programming-For-The-Rest-of-Us-Cn
	url = https://github.com/justinyhuang/Functional-Programming-For-The-Rest-of-Us-Cn.git
